In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

In [ ]:
import pandas as pd

# data = 

display(data.tail(10))

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt


# Set up the matplotlib figure
f, ax1 = plt.subplots(figsize=(10, 5))

# data_ac 

# sns.barplot

ax1.set_title('사고건수 top 10')
sns.despine()

In [ ]:
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

In [ ]:
import matplotlib as mpl
import matplotlib.font_manager as fm

import seaborn as sns
import matplotlib.pyplot as plt

plt.rc('font', family='NanumBarunGothic')

# Set up the matplotlib figure
f, ax1 = plt.subplots(figsize=(10, 5))

data_ac = data.sort_values(by=['사고건수'], ascending=False)[0:10]

sns.barplot(data=data_ac, x='시군구', y='사고건수')

# ax1.
# sns.

In [ ]:
f, ax1 = plt.subplots(figsize=(10,5))

# data_death_ac = data.sort_values
sns.barplot(data=data_death_ac, x='시군구', y='사망자수')

ax1.set_title('시군구별 사망자수')
sns.despine()

In [ ]:
# data_ac['부상자수'] = 
display(data_ac)

In [ ]:
f, ax1 = plt.subplots(figsize=(10,5))
# sns.regplot

ax1.set_title('사고건수 별 부상자수')
sns.despine()

In [ ]:
# data_bc = data.groupby
data_cc = data_bc.sort_values(['사망자수'],ascending=False)[0:5]
data_cc

In [ ]:
data_labels = data_cc['시도']
data_sizes = data_cc['사망자수']

explode = (0.1, 0, 0, 0, 0)  # only "explode" the 1nd slice

# plt.pie
plt.axis('equal')
plt.show()

In [27]:
# data = pd.read_csv

# data_db = 

data_type = data_db['사고유형']

data_lot = data_db['경도'].astype(float)
data_lat = data_db['위도'].astype(float)

In [ ]:
print('안산시 사망교통사고 건수: {0}'.format(len(data_type.index)))
print('\n')

In [ ]:
print(data_type.head(10))
print('\n')

In [ ]:
for i in range(0, 10) :
    print('{0} - {1} : {2}'.format(data_type.iloc[i], data_lot.iloc[i], data_lat.iloc[i]))

In [ ]:
import folium

# 안산시청
# map_osm =

for i in range(0, len(data_type.index)) :
  location = [data_lat.iloc[i], data_lot.iloc[i]]
  folium.Marker(location, popup=data_type.iloc[i],icon=folium.Icon(icon='glyphicon glypicon-remove-sign')).add_to(map_osm)

map_osm
#map_osm.save(‘/content/gdrive/My Drive/Python/map.html’)